build
sql/preprocessed.db
sql/preprocessed2.db
updater/sql/preprocessed.db
updater/sql/preprocessed2.db
node_modules
updater/node_modules
ai/*.pt
src/*.js
src/*.js.map
sql/mac
sql/win
e621/*.csv
e621/tags.json
e621/tag_aliases.json
e621/parsed_tags.json
e621/node_modules
e621/credentials.json
libprisbeam
intimate/build
